body {
  margin: 0;
  padding: 0;
  background-color: #ff630b;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
#banner-sec {
  background-image: url(Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
}
.header-banner {
  width: 50%;
  padding: 50px;
}
.header-banner h1 {
  font-size: 80px;
}
.header-banner p {
  font-size: 20px;
  /* color: white; */
}
.reg-btn {
  padding: 15px 20px;
  background-color: #ff630b;
  border: none;
  color: white;
}
#dance-tour {
  padding: 50px;
}
.tour-banner {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.tour-banner h1 {
  max-width: 80%;
  margin: auto;
  font-size: 60px;
  font-weight: 900;
  color: white;
}
.tour-banner p {
  max-width: 80%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  color: white;
}
.countries {
  display: flex;
  padding: 10px 10px;
}
.america {
  background-image: url(10413.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 20px 55px;
  box-shadow: 2px 50px 20px black;
}
.text-bg {
  background-color: #2b2c2c;
  color: white;
  margin-top: 216px;
  text-align: center;
  padding: 5px;
}
.asia {
  background-image: url(Web-3.0-music-NFT.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 20px 55px;
  box-shadow: 2px 50px 20px black;
}
.australia {
  background-image: url(music-therapy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 20px 55px;
  box-shadow: 2px 50px 20px black;
}
